body {
    font-family: 'Anton',cursive;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Play',cursive;
    text-align: center;
    font-weidht: 700;
}

.byline {
    font-weight: 200;
    font-style: italic;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #2A52BE;
    color: #FFD800;  
    padding: 20px; 
    font-size: 1em;
}